.container {
  display: flex;
  flex-direction: column;
}

.pix {
  width: 100%;
  padding-top: 7%;
}

.black {
  border: 6px black;
  background-color: black;
}

.orange {
  border: 5px #ff8800;
  background-color: #ff8800;
}

.yellow {
  border: 5px #ffbb33;
  background-color: #ffbb33;
}
